In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
pip install displot

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement displot (from versions: none)
ERROR: No matching distribution found for displot

In [3]:
#df2101 = pd.read_csv('JC-202101-citibike-tripdata.csv')
df2102 = pd.read_csv('JC-202102-citibike-tripdata.csv')
df2103 = pd.read_csv('JC-202103-citibike-tripdata.csv')
df2104 = pd.read_csv('JC-202104-citibike-tripdata.csv')
df2105 = pd.read_csv('JC-202105-citibike-tripdata.csv')
df2106 = pd.read_csv('JC-202106-citibike-tripdata.csv')
df2107 = pd.read_csv('JC-202107-citibike-tripdata.csv')
df2108 = pd.read_csv('JC-202108-citibike-tripdata.csv')
df2109 = pd.read_csv('JC-202109-citibike-tripdata.csv')
#df2001 = pd.read_csv('JC-202001-citibike-tripdata.csv')
#df2002 = pd.read_csv('JC-202002-citibike-tripdata.csv')
#df2003 = pd.read_csv('JC-202003-citibike-tripdata.csv')
#df2004 = pd.read_csv('JC-202004-citibike-tripdata.csv')
#df2005 = pd.read_csv('JC-202005-citibike-tripdata.csv')
#df2006 = pd.read_csv('JC-202006-citibike-tripdata.csv')
#df2007 = pd.read_csv('JC-202007-citibike-tripdata.csv')
#df2008 = pd.read_csv('JC-202008-citibike-tripdata.csv')
#df2009 = pd.read_csv('JC-202009-citibike-tripdata.csv')
#df2010 = pd.read_csv('JC-202009-citibike-tripdata.csv')
#df2011 = pd.read_csv('JC-202009-citibike-tripdata.csv')
#df2012 = pd.read_csv('JC-202009-citibike-tripdata.csv')

df2105.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,74A4206E7487CBC9,docked_bike,2021-05-23 16:51:00,2021-05-23 18:38:21,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual
1,58EEE2950FFE01CE,docked_bike,2021-05-31 16:54:47,2021-05-31 16:55:28,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,member
2,1429D912C16EEE59,docked_bike,2021-05-25 16:19:34,2021-05-25 17:03:06,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual
3,FE9C5B74167CBCCD,docked_bike,2021-05-22 17:32:19,2021-05-22 17:41:27,9 St HBLR - Jackson St & 8 St,HB305,Grand St & 2 St,HB405,40.747907,-74.038411,40.739130,-74.036180,casual
4,B88D37626F000BBA,docked_bike,2021-05-14 09:48:34,2021-05-14 10:17:36,Union St,JC051,Newark Ave,JC032,40.718211,-74.083639,40.721525,-74.046305,casual

In [4]:
frames=[df2102, df2103, df2104, df2105, df2106, df2107, df2108, df2109]
#frames=[df2101, df2102, df2103]
result = pd.concat(frames)

In [5]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435888 entries, 0 to 97289
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             435888 non-null  object
 1   rideable_type       435888 non-null  object
 2   started_at          435888 non-null  object
 3   ended_at            435888 non-null  object
 4   start_station_name  435888 non-null  object
 5   start_station_id    435888 non-null  object
 6   end_station_name    433669 non-null  object
 7   end_station_id      433669 non-null  object
 8   start_lat           435888 non-null  float64
 9   start_lng           435888 non-null  float64
 10  end_lat             434303 non-null  float64
 11  end_lng             434303 non-null  float64
 12  member_casual       435888 non-null  object
dtypes: float64(4), object(9)
memory usage: 46.6+ MB

In [6]:
result['ended_at']=pd.to_datetime(result['ended_at'])
result['started_at']=pd.to_datetime(result['started_at'])

In [7]:
result['duration']=result['ended_at']-result['started_at']

In [8]:
result['trip minutes']=result['duration'].dt.seconds.div(60).astype(int)
#result['trip minutes']=pd.to_numeric(result['trip minutes'])

In [9]:
result['start hour']=result['started_at'].dt.hour.astype('category')
result['start day']=result['started_at'].dt.day.astype('category') 
result['Month']=result['started_at'].dt.month.astype('category')
result['weekday']=result['started_at'].dt.weekday.astype('category')

In [10]:
result.nunique()

ride_id               435888
rideable_type              3
started_at            300997
ended_at              300635
start_station_name        79
start_station_id          79
end_station_name         215
end_station_id           216
start_lat                232
start_lng                229
end_lat                  351
end_lng                  354
member_casual              2
duration                9882
trip minutes            1018
start hour                24
start day                 31
Month                      8
weekday                    7
dtype: int64

In [11]:
bs_df = result
bs_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,duration,trip minutes,start hour,start day,Month,weekday
0,121DD7DD23CB1335,docked_bike,2021-02-03 23:11:28,2021-02-03 23:18:28,Hoboken Ave at Monmouth St,JC105,Christ Hospital,JC034,40.735208,-74.046964,40.734786,-74.050444,member,00:07:00,7,23,3,2,2
1,FD73FB85F008349D,docked_bike,2021-02-27 16:34:05,2021-02-27 16:56:40,Newport Pkwy,JC008,Marin Light Rail,JC013,40.728744,-74.032108,40.714584,-74.042817,member,00:22:35,22,16,27,2,5
2,39F9E6663CB5FDF6,docked_bike,2021-02-26 23:16:04,2021-02-26 23:22:25,Journal Square,JC103,Baldwin at Montgomery,JC020,40.733670,-74.062500,40.723659,-74.064194,member,00:06:21,6,23,26,2,4
3,A64745CB0792EC6F,docked_bike,2021-02-24 16:51:50,2021-02-24 17:16:09,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,casual,00:24:19,24,16,24,2,2
4,75CC76EB9543764A,docked_bike,2021-02-24 20:44:16,2021-02-24 20:44:46,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,member,00:00:30,0,20,24,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97285,DA808C4DE967D604,classic_bike,2021-09-23 19:08:00,2021-09-23 19:44:00,Harborside,JC104,Union St,JC051,40.719252,-74.034234,40.718211,-74.083639,casual,00:36:00,36,19,23,9,3
97286,667A3B00C664DBAF,classic_bike,2021-09-10 15:47:00,2021-09-10 16:36:00,8 St & Washington St,HB603,Union St,JC051,40.745984,-74.028199,40.718211,-74.083639,casual,00:49:00,49,15,10,9,4
97287,62E1888ABDE1464E,classic_bike,2021-09-30 13:28:00,2021-09-30 13:54:00,Harborside,JC104,Union St,JC051,40.719252,-74.034234,40.718211,-74.083639,member,00:26:00,26,13,30,9,3
97288,475AA9DFCF196D50,classic_bike,2021-09-14 03:31:00,2021-09-14 04:18:00,Harborside,JC104,Union St,JC051,40.719252,-74.034234,40.718211,-74.083639,casual,00:47:00,47,3,14,9,1
97289,54A2D7AE30FE238F,classic_bike,2021-09-19 02:29:00,2021-09-19 02:54:00,Dixon Mills,JC076,Union St,JC051,40.721630,-74.049968,40.718211,-74.083639,casual,00:25:00,25,2,19,9,6

In [ ]:
result.nunique()

In [13]:
result.to_csv('cit_bide_data2.csv')